.logo-large {
  display: block;
  margin: auto;
  width: 300px;
}
.logo-small {
  display: block;
  width: 100px;
  margin: auto;
}
.nav {
  display: flex;
  list-style: none;
  justify-content: space-evenly; /* Ou space-around */
  align-items: center;
}

.navbar {
  background-color: #fd2300;
}
.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  transition: background-color 0.3s ease;
}

.nav a:hover {
  background-color: rgba(255, 215, 0, 0.5);
}
