.logo-large {
  display: block;
  margin: auto;
  width: 300px;
}
.logo-small {
  display: block;
  width: 100px;
  margin: auto;
}
.nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  background-color: #fd2300;
}
